
* {
    font-family: Roboto;
}

.container {
    max-width: 990px;
}

form .ml-auto  {
    left: auto !important;
    right: 0px !important;
}

p {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

a {
    font-size: 12px;
}

.progress {
    min-height: 5px;
    background-color: #6D3D99;
    margin-bottom: 25px;
}

/*---------------------
        HEADER
---------------------*/

nav {
    height: 90px;
}

nav form {
    vertical-align: middle;
}

/*------ LOGO ------*/



.rectangle {
    width: 50px;
    height: 48px;
    background: #FFFFFF;
    border: 3px solid #FFC740;
    position: relative;
    vertical-align: middle !important; 
    margin-right: 150px;
}

.logo_text {
    position: absolute;
    font-size: 24px;
    font-style: bold;
    margin: 0;
    
    left: 41px;
    background-color: white;
}

/*------ SEARCH ------*/


/*---------------------
        MENU
---------------------*/



/*---------------------
        JUMBOTRON
---------------------*/


/*---------------------
        ARTICLES
---------------------*/

.line {
    height: 16px;
    margin-bottom: 16px;
}

.purple {
    background-color: #6D3D99;
}

.yellow {
    background-color: #FFC740;
}

.row {
    padding: 20px 10px;
}

.post {
    margin:  ;
}

.post img {
    
    width: 142px;
    height: 141px;
    border: 2px solid #FFC740;
    padding: 2px;
}

/*---------------------
        SERVICES
---------------------*/


/*---------------------
        RESENT NEWS
---------------------*/


/*---------------------
        CLIENTS
---------------------*/

.clients_list {
    padding: 15px;
}

.clients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.clients ul li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

/*---------------------
        FOOTER
---------------------*/
footer {
    background-color: #6D3D99;
}
footer p {
    margin: 0 auto;
    padding: 49px;
    text-align: center;
    color: #FFFFFF;
}